// Заголовки, общие БЄМ блоки и проче...

// title ====================================================================================================//

.title {
	@include adaptiveValue("font-size", 50, 28);
	font-weight: 700;
	line-height: 130%;
	letter-spacing: 0.03125rem;
	text-transform: uppercase;
}

// text ====================================================================================================//

.text {
	@include adaptiveValue("font-size", 18, 16);
	line-height: 150%;
	letter-spacing: normal;
	letter-spacing: 0.0225rem;
}

// button ====================================================================================================//

.button {
	@include adaptiveValue("font-size", 18, 16);
	line-height: 150%;
	letter-spacing: 0.18px;
	background-color: $orange;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	transition: all 0.3s ease 0s;
	&:hover{
		background-color: #cd4112;
	}

	&_st{
		@include adaptiveValue("font-size", 18, 16);
		line-height: 150%;
		letter-spacing: 0.18px;
		background-color: $orange;
		display: inline-flex;
		height: 70px;
		width: 400px;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		transition: all 0.3s ease 0s;
		@media (max-width: 450px) {
			min-width: none;
			width: 100%;
		}
		&:hover{
			background-color: #cd4112;
		}
	}

	&_trans {
		@include adaptiveValue("font-size", 18, 16);
		line-height: 150%;
		letter-spacing: 0.18px;
		background-color: transparent;
		display: inline-flex;
		height: 70px;
		width: 320px;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		transition: all 0.2s ease 0s;
		border: 2px solid #F5F5F5;
		&:hover{
			background-color: $orange;
		}
		&:active {
			background-color: #a3330e;
		}

	}
}

// slider ====================================================================================================//

.slider {

	&__content {
		//position: relative;
		.slick-list {
			overflow: hidden;	//!!! Скрыть лишние слайды
			
		}
		/* Стрелки*/
			.slick-arrow{
				position: absolute;
				top: 3px;
				z-index: 10;
				font-size: 0;
				height: 50px;
				width: 50px;
				border: 1px solid #424242;
			}
			/* Стрелка влево */
			.slick-arrow.slick-prev{
				right: 60px;
				background: url('@img/media/arrow-right.svg') 50% 50% no-repeat;
				&:hover{
					background: url('@img/media/arrow-left-2.svg') 50% 50% no-repeat;
				}
			}
			/* Стрелка вправо */
			.slick-arrow.slick-next{
				right: 10px;
				background: url('@img/media/arrow-left.svg') 50% 50% no-repeat;
				&:hover{
					background: url('@img/media/arrow-right-2.svg') 50% 50% no-repeat;
				}
			}
			/*точки */
			.slick-dots{
				position: absolute;
				bottom: -30px;
				left: 6px;
				display: flex;
				align-items: center;
				justify-content: start;
				//margin-top: 30px;
			}
			.slick-dots li{
				margin: 0px 10px;
				list-style: none;
			}
			.slick-dots li button{
				font-size: 0;
				height: 4px;
				width: 70px;
				background-color: #E3E2E2;
				//border: 1px solid #000;
			}
			/* Активная точка */
			.slick-dots li.slick-active button{
				background-color: $orange;
			}
	}

	&__element {
	}
}


///* Ограничивающая оболочка */
//.slick-list {
//	overflow: hidden;	//!!! Скрыть лишние слайды
//}
