/*
// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}
// Прячем бургер на больших экранах
.menu__icon {
	display: none;
}

@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
	// Три полоски
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2); //10%
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
		}
	}

	.menu__icon._active {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл

		// Рисуем шапку
		&::before {
			content: '';
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 70px; // Высота шапки
			background-color: #912105;
			z-index: 2;
		}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: 0;
	}
}
*/
// header ====================================================================================================//

.header {
	border-bottom: 1px solid #fff;

	&__container {
	}

	&__menu {
		display: flex;
		align-items: center;
		min-height: 90px;
		justify-content: space-between;
		@media (max-width: 450px) {
			min-height: 60px;
		}
	}

	&__logo {
		@include adaptiveValue("margin-right", 75, 30, 1370, 1200, 1);
		padding-bottom: 10px;
		img {
			max-width: 100%;
		}
		@media (max-width: 450px) {
			padding-bottom: 5px;
			img {
				width: 80%;
			}
		}
	}

	&__contacts{
		a{
			display: block;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: 0.18px;
			transition: all 0.3s ease 0s;
			&:hover {
				color: $orange;
			}
			&:not(:last-child){
				margin-bottom: 5px;
			}
			@media (max-width: 450px) {
				font-size: 14px;
			}
			&:not(:last-child){
				margin-bottom: 0px;
			}
		}
	}
}

.menu {

	&__body {
		display: none;
		@media (min-width: 1200px) {
			display: block;
		}
	}

	&__list {
		display: flex;
		gap: 35px;
		@include adaptiveValue("font-size", 20, 18);
		line-height: 135%;
		letter-spacing: 0.2px;
	}

	&__service {
		position: relative;
		&:hover{
			.menu__sub-list {
				opacity: 1;
				visibility: visible;
				transform: rotate(0);
			}
		}
		&:focus .menu__sub-list {
				opacity: 1;
				visibility: visible;
				transform: rotate(0);
			}
	}

	.menu-link_m:focus + .menu__sub-list {
		opacity: 1;
		visibility: visible;
		transform: rotate(0);
	}

	&__sub-list {
		position: absolute;
		left: 0;
		top: calc(100% + 33px);
		width: 480px;
		@include adaptiveValue("font-size", 20, 18);
		line-height: 135%; /* 27/20 */
		letter-spacing: 0.2px;
		transform-origin: 0 0;
		transform: rotateX(-90deg);
		transition: all 0.3s ease 0s;
		visibility: hidden;
		opacity: 0;
		outline: 1px solid #353539;
		li {
			border-bottom: 1px solid #515157;
			padding-left: 40px;
			a {
				display: flex;
				align-items: center;
				height: 60px;
				transition: all 0.2s ease 0s;
				&:hover{
					color: $orange;
				}
			}
		}
	}
}

.menu-link {
	padding-bottom: 34px;
	position: relative;
	transition: all 0.2s ease 0s;
	&::after{
		content: "";
		position: absolute;
		left: 0;
		width: 0;
		height: 1px;
		background-color: $orange;
		bottom: 0;
		transition: all 0.3s ease 0s;
	}
	&:hover{
		color: $orange;
		&::after {
			right: 0;
			width: 100%;
		}
	}
}