
// header ====================================================================================================//

.header {
	position: fixed;
	z-index: 11;
	width: 100%;
	border-bottom: 1px solid #fff;
	background-color: $gray;

	&__container {
	}

	&__menu {
		display: flex;
		align-items: center;
		min-height: 90px;
		justify-content: space-between;
		@media (max-width: 450px) {
			min-height: 60px;
		}
	}

	&__logo {
		@include adaptiveValue("margin-right", 75, 30, 1370, 1200, 1);
		padding-bottom: 10px;
		img {
			max-width: 100%;
		}
		@media (max-width: 450px) {
			padding-bottom: 5px;
			img {
				width: 80%;
			}
		}
	}

	&__contacts{
		a{
			display: block;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: 0.18px;
			transition: all 0.3s ease 0s;
			&:hover {
				color: $orange;
			}
			&:not(:last-child){
				margin-bottom: 5px;
			}
			@media (max-width: 450px) {
				font-size: 14px;
			}
			&:not(:last-child){
				margin-bottom: 0px;
			}
		}
	}
}
.header__menu .menu__body {
	display: none;
	@media (min-width: 1200px) {
		display: block;
	}

}
.menu {

	&__body {
	}

	&__list {
		display: flex;
		gap: 35px;
		@include adaptiveValue("font-size", 20, 18);
		line-height: 135%;
		letter-spacing: 0.2px;
		a{
			padding-bottom: 34px;
		}
	}

	&__service {
		position: relative;
		&:hover{
			.menu__sub-list {
				opacity: 1;
				visibility: visible;
				transform: rotate(0);
			}
		}
		&:focus .menu__sub-list {
				opacity: 1;
				visibility: visible;
				transform: rotate(0);
			}
	}

	.menu-link_m:focus + .menu__sub-list {
		opacity: 1;
		visibility: visible;
		transform: rotate(0);
	}

	&__sub-list {
		position: absolute;
		background-color: $gray;
		left: 0;
		top: calc(100% + 34px);
		width: 480px;
		@include adaptiveValue("font-size", 20, 18);
		line-height: 135%; /* 27/20 */
		letter-spacing: 0.2px;
		transform-origin: 0 0;
		transform: rotateX(-90deg);
		transition: all 0.3s ease 0s;
		visibility: hidden;
		opacity: 0;
		outline: 1px solid #353539;
		li {
			&:not(:last-child){
				border-bottom: 1px solid #515157;
			}
			padding-left: 40px;
			a {
				display: block;
				min-height: 60px;
				padding-top: 15px;
				padding-bottom: 15px;
				transition: all 0.2s ease 0s;
				&:hover{
					color: $orange;
				}
			}
		}
	}
}

.menu-link {
	position: relative;
	transition: all 0.2s ease 0s;
	&::after{
		content: "";
		position: absolute;
		left: 0;
		width: 0;
		height: 1px;
		background-color: $orange;
		bottom: 0;
		transition: all 0.3s ease 0s;
	}
	&:hover{
		color: $orange;
		&::after {
			right: 0;
			width: 100%;
		}
	}
}

// scroll-bar ====================================================================================================//

::-webkit-scrollbar {
	background-color: #39393e;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(#EA4C14, 0.8);
	transition: all 0.5s ease 0s;
	&:hover{
		background-color: #EA4C14;
	}
}