.page {
	margin-top: 90px;
	@include adaptiveValue("padding-top", 50, 30);
	@media (max-width: 992px) {
		@include adaptiveValue("padding-bottom", 100, 40);
	}
}

.main-screen {

	&__container {
		display: flex;
		align-items: center;
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
	}

	&__content {
		flex: 0 1 40%;
		@media (max-width: 992px) {
			flex: 0 1 100%;
			text-align: center;
			@include adaptiveValue("margin-bottom", 60, 40);
		}
	}

	&__image {
		flex: 0 1 60%;
		@media (max-width: 992px) {
			flex: 0 1 100%;
		}
	}

	.slick-slider{
		width: 60%;
	}
	.slick-list {
	overflow: hidden;	//!!! Скрыть лишние слайды
	}

	.slick-track{
		//position: relative;
	}
}

.content-main-screen {
		
		&__container{
		}

		&__body {
			//width: 50%;
			padding-right: 20px;
		}

		&__title {
			@include adaptiveValue("font-size", 60, 30);
			font-weight: 700;
			letter-spacing: 0.7px;
			text-transform: uppercase;
			@include adaptiveValue("padding-bottom", 30, 20);
		}

		&__text {
			@include adaptiveValue("padding-bottom", 50, 25);
		}

		&__button {
		}
}

.image-main-screen {
	position: relative;
	z-index: 1;
	//position: relative;
	img{
		//position: absolute;
		//top: 0;
		//left: 0;
		//width: 100%;
		//height: 100%;
		//object-fit: cover;
		max-width: 100%;
	}
}



//  ====================================================================================================//
.slick-track{
	display: flex;	//!!! Выстроить в ряд
	//gap: 50px;
	//max-width: 1900px;
}
.slick-slider{
	//max-width: 1000px;
}

.slick-active {
	//margin-right: 120px;
	img {
		//width: 100%;
	}
}
.slick-slide{
}

// service ====================================================================================================//

.service {
	@include adaptiveValue("padding-top", 120, 60);
	@include adaptiveValue("padding-bottom", 80, 40);

	&__container {
	}

	&__title {
		@include adaptiveValue("padding-bottom", 80, 40);
	}

	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 29px;
		@media (max-width: 767px) {
			gap: 15px;
		}
	}

	&__column {
		flex: 1 1 calc(33.333% - (58px / 3));
		border-radius: 5px;
		border: 2px solid #464646;
		background: #191919;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 25px;
		padding: 50px 25px;
		transition: all 0.2s ease 0s;
		&:hover{
			border: 2px solid $orange;
		}
		@media (max-width: 767px) {
			gap: 15px;
			padding: 20px 15px;
			flex: 0 1 100%;
		}
	}
}

.column-service {

	&__image {
		
	}

	&__text {
		@include adaptiveValue("font-size", 22, 18);
		line-height: 120%;
		letter-spacing: 0.22px;
	}
}

// advantages ====================================================================================================//

.advantages {
	@include adaptiveValue("padding-top", 80, 40);
	@media (max-width: 992px) {
		background-color: #2E2E31;
	}
	@include adaptiveValue("padding-bottom", 80, 40);

	&__container {
	}

	&__decor{
		position: relative;
		@media (min-width: 992px) {
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: -15px;
				width: calc(100% + 30px);
				height: 1px;
				background-color: #9b9b9b;
			}
		}
		@media (min-width: 550px) {
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: -13px;
				width: 26px;
				height: 1px;
				background-color: #9b9b9b;
				transform: rotate(-45deg);
			}
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin: 0px -15px;
		padding: 0px 15px 0px 15px;
		position: relative;
		@media (min-width: 992px) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 15px;
				height: calc(100% + 15px);
				width: 1px;
				background-color: #9b9b9b;
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 15px;
				height: calc(100% + 15px);
				width: 1px;
				background-color: #9b9b9b;
			}
		}
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		cursor: pointer;
		flex: 0 1 25%;
		@include adaptiveValue("font-size", 22, 16);
		line-height: 110%;
		letter-spacing: 0.28px;
		text-transform: uppercase;
		text-align: center;
		padding: 0px 15px;
		padding-bottom: 20px;
		position: relative;
		@media (min-width: 550px) {
			&:not(:last-child){
				&::after{
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 1px;
					height: calc(100% + 15px);
					background-color: #9b9b9b;
				}
			}
			&::before{
				content: '';
				position: absolute;
				bottom: 0;
				right: -13px;
				width: 26px;
				height: 1px;
				background-color: #9b9b9b;
				transform: rotate(-45deg);
			}
		}
		span {
			color: $orange;
		}
		@media (max-width: 992px) {
			@media (min-width: 550px) {
				flex: 0 1 50%;
				border-bottom: 1px solid #9b9b9b;
				&:nth-child(3){
					margin-top: 40px;
				}
				&:nth-child(4){
					margin-top: 40px;
				}
				&_1{
					&::before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 1px;
						height: calc(100% + 15px);
						background-color: #9b9b9b;
					}
					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						left: -13px;
						width: 26px;
						height: 1px;
						background-color: #9b9b9b;
						transform: rotate(-45deg);
					}
				}
				&_3{
					&::before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 1px;
						height: calc(100% + 15px);
						background-color: #9b9b9b;
					}
				}
				&_4{
					&::before{
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 1px;
						height: calc(100% + 15px);
						background-color: #9b9b9b;
					}
				}
			}
		}
		@media (max-width: 550px) {
			flex: 0 1 100%;
			&:not(:first-child){
				padding: 20px 0px;
			}
			&::after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #9b9b9b;
			}
		}
	}
	@media (min-width: 550px) {
		&__content {
			&:hover::before{
				content: attr(data-title);
				position: absolute;
				top: calc(100% + 2px);
				left: 0;
				padding: 15px 5px;
				background-color: #000;
				font-size: 14px;
				color: #9DA0A3;
				z-index: 2;
				text-transform: none;
				opacity: 0.9;
				border: 1px solid $orange;
			}
		}
	}
}

// visual ====================================================================================================//

.visual {
	@media (min-width: 992px) {
		display: flex;
	}

	&__content {
		flex: 0 0 100%;
	}

	&__image {
		img {
			max-width: 100%;
		}
		@media (min-width: 992px) {
			flex: 0 0 50%;
			transform: translate(-100%, 0px);
			position: relative;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
		@media (max-width: 992px) {
			display: none;
		}
	}
}

.content-visual {
	background-color: #000;

	&__container {
		padding: 60px 0px;
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 60, 30);
	}

	&__body {
		@media (min-width: 992px) {
			width: 50%;
			padding-right: 80px;
		}
		padding: 0px 15px;
	}

	&__box {
		display: flex;
		gap: 15px;
		align-items: flex-end;
		@media (min-width: 992px) {
			@include adaptiveValue("padding-bottom", 60, 40);
		}
		@media (max-width: 992px) {
			align-items: center;
			gap: 10px;
		}
	}

	&__image {
		@media (max-width: 992px) {
			flex: 0 0 25%;
			img {
				max-width: 100%;
			}
		}
	}

	&__text {
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__title {
		@include adaptiveValue("font-size", 50, 18);
		text-transform: uppercase;
		font-weight: 700;
		line-height: 100%;
		letter-spacing: 0.6px;
		@media (max-width: 992px) {
			display: none;
		}
		&_twin{
			@include adaptiveValue("font-size", 50, 18);
			text-transform: uppercase;
			font-weight: 700;
			line-height: 100%;
			letter-spacing: 0.6px;
		}
	}

	&__new-block{
		@media (min-width: 992px) {
			display: none;
		}
	}
}

// questions ====================================================================================================//

.questions {
	@include adaptiveValue("padding-top", 150, 50);
	@include adaptiveValue("padding-bottom", 130, 40);
	@media (max-width: 767px) {
		display: none;
	}
	
	background-color: #2E2E31;

	&__container {
		display: flex;
	}

	&__ask {
		flex: 0 1 50%;
		@include adaptiveValue("padding-right", 90, 20, 1370, 992, 1);
	}

	&__answer {
		flex: 0 1 50%;
	}
}

.ask-questions {

	&__item {
		@include adaptiveValue("font-size", 40, 28, 1370, 1100, 1);
		//font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		padding: 46px 0px;
		display: flex;
		align-items: center;
		gap: 30px;
		span {
			color: $orange;
		}
		&:not(:last-child){
			border-bottom: 1px solid #5c5a5a;
		}
	}

	&__arrow{
		opacity: 0;
		transition: all 0.3s ease 0s;
	}

	&__text{
		user-select: none;
		cursor: pointer;
		transform: translateX(-50px);
		transition: all 0.3s ease 0s;
		line-height: 120%;
	}
}

.ask-questions__item._active .ask-questions__arrow {
	opacity: 1;
}

.ask-questions__item._active .ask-questions__text {
	transform: translateX(0px);
}

.answer-questions {
	border-left: 1px solid #5c5a5a;

	&__content {
		padding-top: 18px;

		&_one {
			
		}
		&_two {
			display: none;
		}
		&_three {
			display: none;
		}
	}
}

.spollers {

	&__item {
		@include adaptiveValue("padding-left", 80, 50, 1370, 1100, 1);
		@media (max-width: 992px) {
			//padding-left: 35px;
		}
		&:not(:last-child){
			border-bottom: 1px solid #5c5a5a;
		}
	}

	&__title {
		font-size: 26px;
		line-height: 122%;
		letter-spacing: 0.22px;
		transition: all 0.2s ease 0s;
		padding: 30px 0px;
		//padding-left: 25px;
		position: relative;
		&:hover{
			color: $orange;
			&::after, &::before{
				background-color: $orange;
			}
		}
		&._spoller-active{
			color: $orange;
			&::after{
				background-color: $orange;
				transform: rotate(-45deg);
			}
			&::before {
				background-color: $orange;
				transform: rotate(45deg);
			}
		}
		&::before{
			content: '';
			position: absolute;
			top: 45px;
			left: -27px;
			width: 12px;
			height: 1px;
			background-color: #fff;
			transition: all 0.5s ease 0s;
			transform: rotate(-45deg);
		}
		&::after{
			content: '';
			position: absolute;
			top: 45px;
			left: -35px;
			width: 12px;
			height: 1px;
			background-color: #fff;
			transition: all 0.5s ease 0s;
			transform: rotate(45deg);
		}
	}

	&__body {
		padding-bottom: 30px;
		font-size: 18px;
		line-height: 150%;
	}
}
.body-spollers__list {
	li {
		padding-left: 25px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: 11px;
			left: 7px;
			width: 6px;
			height: 6px;
			background-color: #fff;
			border-radius: 50%;
		}
	}
	li:first-child{
		margin-top: 10px;
	}
}

// steps ====================================================================================================//

.steps {
	padding: 100px 0px 100px 0px;
	@media (max-width: 767px) {
		display: none;
	}

	&__container {
	}

	&__title {
		@include adaptiveValue("font-size", 50, 30, 1370, 1100, 1);
		text-transform: uppercase;
		@include adaptiveValue("padding-bottom", 80, 40);
		span {
			color: $orange;
		}
	}

	&__content {
		@include adaptiveValue("padding-bottom", 80, 40);
	}

	&__button {
	}
}

.content-step {
	display: flex;
	justify-content: space-between;

	&__item {
		flex: 0 1 20%;
		display: flex;
		&_five{
			flex: 0 1 15%
		}
	}

	&__number {
		@include adaptiveValue("font-size", 50, 28);
		color: $orange;
		padding-bottom: 10px;
		text-align: center;
	}

	&__text {
		@include adaptiveValue("font-size", 22, 18, 1370, 1100, 1);
		font-weight: 500;
		line-height: 122%;
		text-align: center;
		span{
			color: $orange;
		}
	}

	&__arrow {
		padding-top: 15px;
		@media (max-width: 1100px) {
			img {
				max-width: 60px;
			}
		}
	}
}

// display ====================================================================================================//

.display {
	background-color: #2E2E31;
	@media (min-width: 992px) {
		display: flex;
	}

	&__two {
		background-color: #222224;
	}

	&__image {
		@media (min-width: 992px) {
			flex: 0 0 50%;
		}
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		@media (max-width: 992px) {
			@include adaptiveValue("height", 700, 350, 992, 320, 1);
			margin-bottom: 50px;
		}
	}

	&__content {
		@media (min-width: 992px) {
			padding-top: 80px;
		}
	}

	&__container {
	}

	&__body {
		@media (min-width: 992px) {
			max-width: 680px;
			display: flex;
			flex-direction: column;
			min-height: 1100px;
		}
	}

	&__title {
		@include adaptiveValue("font-size", 45, 28);
		text-transform: uppercase;
		line-height: 130%;
		@include adaptiveValue("padding-bottom", 55, 30);
		@media (min-width: 992px) {
			padding-left: 45px;
		}
		p {
			@include adaptiveValue("font-size", 18, 16);
			line-height: 150%;
			padding-top: 10px;
			text-transform: none;
		}
	}

	&__spollers {
		@media (min-width: 992px) {
			flex: 1 1 auto;
		}
	}

	&__button {
		@include adaptiveValue("margin-bottom", 80, 50);
		@media (min-width: 992px) {
			margin-left: 45px;
		}
		@media (max-width: 992px) {
			@include adaptiveValue("margin-top", 60, 40);
		}
		@media (max-width: 450px) {
			width: 100%;
		}
	}
}

.spollers {

	&__item {
	}

	&__title {
		&_m{
			display: flex;
			gap: 25px;
			align-items: center;
		}
		path, circle, rect, line {
			transition: all 0.3s ease 0s;
		}
		&:hover{
			path {
				stroke: #EA4C14;
			}
			circle {
				stroke: #EA4C14;
			}
			rect {
				stroke: #EA4C14;
			}
			line {
				stroke: #EA4C14;
			}
		}
	}

	&__body {
		p {
			@include adaptiveValue("font-size", 18, 16);
			line-height: 150%;
			a{
				color: $orange;
				text-decoration: underline;
			}
		}
	}
}

.spollers__title._spoller-active{

	path {
		stroke: #EA4C14;
	}
	circle {
		stroke: #EA4C14;
	}
	rect {
		stroke: #EA4C14;
	}
	line {
		stroke: #EA4C14;
	}
}

.body-spollers__tz{
	padding-left: 30px;
	margin: 15px 0px;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		top: 10%;
		left: 0;
		width: 2px;
		height: 80%;
		background-color: #fff;
	}
}

.display-spollers {

	&__image {
		display: flex;
		align-items: end;
		@include adaptiveValue("margin-top", 40, 20);
		span{
			cursor: pointer;
			position: relative;
			&:hover::before{
				content: attr(data-title);
				position: absolute;
				bottom: -20%;
				left: 0;
				padding: 0px 5px;
				text-align: center;
				border-radius: 5px;
				background-color: #000;
				font-size: 12px;
				line-height: 150%;
				color: #9DA0A3;
				z-index: 2;
				text-transform: none;
				opacity: 0.9;
				//border: 1px solid $orange;
			}
		}
		span:nth-child(2){
			transform: translateX(-10%);
			position: relative;
			z-index: 1;
		}
		span:nth-child(3){
			transform: translateX(-20%);
		}
		img {
			max-width: 100%;
		}
	}
}

.image-display{
	position: relative;

	&__one {
	}
	
	&__two {
		display: none;
	}
	&__three {
		display: none;
	}
	&__four {
		display: none;
	}
}

// last-project ====================================================================================================//

.last-project {
	@include adaptiveValue("padding-top", 150, 80);
	background-color: #2E2E31;
	padding-bottom: 40px;

	&__container {
	}

	&__title {
		@include adaptiveValue("padding-bottom", 40, 20);
	}

	&__text {
		@include adaptiveValue("font-size", 22, 16);
		max-width: 992px;
		@include adaptiveValue("padding-bottom", 60, 40);
	}

	&__gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(7, 250px);
		gap: 30px;
		@include adaptiveValue("padding-bottom", 50, 40);
		@media (max-width: 992px) {
			gap: 20px;
			grid-template-rows: repeat(7, 150px);
		}
		@media (max-width: 767px) {
			display: block;
		}
		li {
			position: relative;
			@media (max-width: 767px) {
				height: 500px;
			}
			@media (max-width: 500px) {
				height: 400px;
			}
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: grayscale(100%);
			transition: all 0.5s ease 0s;
			@media (max-width: 767px) {
				filter: grayscale(0);
			}
		}
	}

	&__button {
		margin: 0 auto;
		display: flex;
		@media (max-width: 450px) {
			width: 100%;
		}
	}
}
.gallery {
	position: relative;

	&__item {
		grid-row-start: span 2;
		@media (max-width: 767px) {
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}

		&_2, &_3 {
			grid-row-start: span 3;
		}
	}

	&__info{
		position: absolute;
		bottom: 0;
		left: 0;
		min-height: 100px;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.60);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		@include adaptiveValue("font-size", 32, 22);
		line-height: 130%;
		text-transform: uppercase;
		opacity: 0;
		transition: all 0.5s ease 0s;
		@media (max-width: 767px) {
			opacity: 1;
			min-height: 70px;
		}
	}
}
.gallery__item:hover{
	.gallery__info {
		opacity: 1;
	}
	img {
		filter: grayscale(0);
	}
}

// leader ====================================================================================================//

.leader {
	@include adaptiveValue("padding-top", 80, 40);
	padding-bottom: 50px;
	@media (min-width: 500px) {
		background-color: #2E2E31;
	}
	@media (max-width: 400px) {
		display: none;
	}

	&__container {
	}

	&__title {
		padding-bottom: 20px;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		@include adaptiveValue("font-size", 18, 14);
		p:not(:last-child){
			@include adaptiveValue("padding-bottom", 22, 18);
		}
		//flex: 0 1 auto;
		@media (max-width: 992px) {
			order: 2;
		}
	}

	&__person {
		//flex: 0 1 280px;
		position: relative;
		@media (min-width: 992px) {
			min-width: 300px;
			padding-left: 100px;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 50px;
				height: 100%;
				width: 1px;
				background-color: $orange;
			}
		}
		@media (max-width: 992px) {
			order: 1;
			padding-right: 60px;
			min-width: 250px;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				right: 30px;
				height: 100%;
				width: 1px;
				background-color: $orange;
			}
		}
		@media (max-width: 600px) {
			min-width: 170px;
			padding-right: 40px;
			&::after{
				right: 20px;
			}
		}
	}
}

.person-leader {

	&__image {
		display: inline-block;
		background-color: #696970;
		border-radius: 50%;
		img{
			border-radius: 50%;
		}
		margin-bottom: 20px;
	}

	&__name {
		@include adaptiveValue("font-size", 28, 22);
		line-height: 120%;
		text-transform: uppercase;
		@include adaptiveValue("padding-bottom", 20, 15);
	}

	&__function {
		font-size: 16px;
	}
}

// staff ====================================================================================================//

.staff {
	@include adaptiveValue("padding-top", 120, 80);
	@include adaptiveValue("padding-bottom", 120, 80);
	@media (max-width: 500px) {
		display: none;
	}

	&__container {
	}

	&__title {
		span{
			color: $orange;
		}
		padding-bottom: 20px;
	}

	&__text {
		max-width: 992px;
		@include adaptiveValue("font-size", 22, 18);
		line-height: 120%;
		@include adaptiveValue("padding-bottom", 100, 60);
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		@media (max-width: 767px) {
			gap: 20px;
		}
	}

	&__item {
		flex: 0 1 calc(25% - (90px / 4));
		display: flex;
		flex-direction: column;
		@media (max-width: 992px) {
			flex: 1 1 calc(33.333% - 20px);
		}
		@media (max-width: 767px) {
			flex: 1 1 calc(50% - 10px);
		}
	}
}

.item-staff {
	&:hover{
		.item-staff__person{
			&::after{
				width: 100%;
			}
			&::before{
				width: 100%;
			}
		}
	}

	&__image {
		flex: 1 1 100%;
		display: flex;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}

	&__person {
		text-align: center;
		background-color: #2E2E31;
		padding: 18px 5px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 2px;
			background-color: $orange;
			transition: all 0.5s ease 0s;
		}
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: 2px;
			background-color: $orange;
			//opacity: 0;
			transition: all 0.5s ease 0s;
		}
	}

	&__name {
		@include adaptiveValue("font-size", 22, 18);
		line-height: 120%;
		color: $orange;
	}

	&__function {
		@include adaptiveValue("font-size", 18, 16);
		line-height: 150%;
	}
}

// information ====================================================================================================//

.information {
	background-color: #2E2E31;
	@media (max-width: 992px) {
		display: none;
	}

	&__container {
		display: flex;
		//align-items: center;
	}

	&__answer {
		padding-top: 45px;
		flex: 0 0 60%;
	}
}

.answer-information {
	display: none;

	&_1 {
	}

	&__list {
		p{
			padding-bottom: 20px;
		}
	}

	&__item {
		position: relative;
		padding-left: 20px;
		line-height: 150%;
		&:after{
			content: '';
			position: absolute;
			top: 10px;
			left: 0;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: #fff;
		}
		p{
			margin-left: 35px;
			padding-left: 20px;
			position: relative;
			margin-top: 25px;
			margin-bottom: 25px;
			color: $orange;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 100%;
				background-color: $orange;
			}
			@media (max-width: 500px) {
				margin-left: 0;
			}
		}
	}

	&__link {
		display: flex;
		gap: 10px;
		align-items: center;
		padding-top: 25px;
		span{
			display: block;
			color: $orange;
		}
		svg {
			display: block;
		}
	}

	&_3{
		span{
			color: $orange;
		}
		li{
			padding-bottom: 25px;
		}
	}
}

	.answer-information._active{
		display: block;
	}

// information-little ====================================================================================================//

.information-little {
	background-color: #2E2E31;
	@include adaptiveValue("padding-top", 60, 40, 992, 320, 1);
	@include adaptiveValue("padding-bottom", 60, 40, 992, 320, 1);
	display: none;
	@media (max-width: 992px) {
		display: block;
	}

	&__container {
	}

	&__content {
	}

	&__title {
		display: flex;
		gap: 20px;
		align-items: center;
		@include adaptiveValue("font-size", 40, 28);
		text-transform: uppercase;
		span{
			color: $orange;
		}
		img {
			transition: all 0.5s ease 0s;
		}
	}

	&__body {
		@media (min-width: 500px) {
			padding-left: 30px;
		}
	}
}

.information-little__title._spoller-active{
	img{
		transform: rotate(90deg);
	}
}

.spollers {

	&__item {
	}
}
.answer-information {

	&__list {
	}

	&__item {
	}
}

// partners ====================================================================================================//

.partners {
	background-color: #2E2E31;
	@media (min-width: 992px) {
		@include adaptiveValue("padding-top", 90, 50);
	}
	@include adaptiveValue("padding-bottom", 130, 50);

	&__container {
	}

	&__title {
		@include adaptiveValue("padding-bottom", 60, 40);
	}

	&__content {
		overflow: auto;
		//display: flex;
		////justify-content: center;
		//flex-wrap: wrap;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 200px);
		@media (max-width: 1400px) {
			grid-template-columns: repeat(4, 228px);
			grid-template-rows: repeat(3, 200px);
			padding-bottom: 30px;
		}
		@media (max-width: 950px) {
			grid-template-columns: repeat(4, 170px);
			grid-template-rows: repeat(3, 150px);
		}
		
		&::-webkit-scrollbar {
			background-color: #aaaaaa;
			height: 8px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $orange;
		}
	}

	&__item {
		//flex: 0 1 228px;
		border: 1px solid #424242;
		display: flex;
		align-items: center;
		justify-content: center;
		//height: 200px;
		padding: 0px 10px;
		transition: all 0.2s ease 0s;
		svg {
			transition: all 0.3s ease 0s;
		}
		&:hover{
			background-color: $orange;
			svg{
				path, image{
					fill: #fff;
				}
			}
		}
	}
}

// media ====================================================================================================//

.media {
	background-color: #2E2E31;
	@include adaptiveValue("padding-bottom", 150, 50);
	@media (max-width: 992px) {
		display: none;
	}

	&__container {
		position: relative;
	}

	&__title {
		padding-bottom: 50px;
	}

	&__content {
	}

	&__item {
		width: 320px;
		border: 1px solid #414141;
	}
}

.item-media {
	display: flex;
	flex-direction: column;
	padding: 40px 15px;
	text-align: center;
	transition: all 0.3s ease 0s;
	margin-right: 30px;
	@media (max-width: 1100px) {
		margin-right: 20px;
		padding: 25px 10px;
	}
	&:hover{
		background-color: $orange;
	}

	&__sub-title {
		@include adaptiveValue("font-size", 22, 18);
		font-weight: 500;
		@include adaptiveValue("padding-bottom", 40, 25);
	}

	&__text {
		line-height: 150%;
		@include adaptiveValue("padding-bottom", 60, 30);
		flex: 1 1 auto;
	}

	&__next {
		display: flex;
		gap: 15px;
		justify-content: center;
	}
}

// news ====================================================================================================//

.news {
	@media (max-width: 992px) {
		display: none;
	}
	background-color: #2E2E31;
	padding-top: 30px;
	padding-bottom: 80px;

	&__container {
		position: relative;
	}

	&__title {
		padding-bottom: 40px;
	}

	&__content {
		.item-media{
			text-align: left;
			padding: 0;
			padding-bottom: 30px;
			&__next {
				justify-content: start;
			}
			&:hover{
				background-color: inherit;
			}
		}
	}

	&__image {
		padding-bottom: 15px;
		img {
			max-width: 100%;
		}
	}

	&__data {
		text-align-last: left;
		padding-bottom: 25px;
		font-weight: 300;
		opacity: .6;
	}

	&__text {
		text-align: left;
		line-height: 150%;
		flex: 1 1 auto;
		padding-bottom: 35px;
	}
}

// cost ====================================================================================================//

.cost {
	background-color: #2E2E31;
	@media (max-width: 992px) {
		display: none;
	}
	@include adaptiveValue("padding-top", 100, 60);
	@include adaptiveValue("padding-bottom", 150, 60);

	&__container {
	}

	&__title {
		text-align: center;
		@include adaptiveValue("padding-bottom", 50, 30);
	}

	&__button {
		width: 390px;
		height: 70px;
		display: flex;
		margin: 0 auto;
	}
}

// call-back ====================================================================================================//

.call-back {
	display: none;
	@media (max-width: 992px) {
		display: block;
	}
	//@include adaptiveValue("padding-bottom", 70, 30);

	&__container {
		background-color: #2E2E31;
		border-radius: 8px;
		box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
	}

	&__title {
		@include adaptiveValue("padding-top", 70, 30);
		text-align: center;
		@include adaptiveValue("padding-bottom", 40, 30);
	}

	&__form {
		@include adaptiveValue("padding-bottom", 70, 30);
	}
}

.form-call-back {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	@media (max-width: 767px) {
		padding-right: 30px;
		padding-left: 30px;
	}
	@media (max-width: 450px) {
		padding-right: 0;
		padding-left: 0;
		gap: 15px;
	}

	&__name {
		height: 70px;
		border-radius: 6px;
		outline: 1px solid #E5E5E5;
		padding: 0 17px;
		flex: 0 1 calc(50% - 15px);
		&:focus{
			outline: 2px solid $orange;
		}
		@media (max-width: 767px) {
			flex: 0 1 100%;
			background-color: inherit;
			color: #fff;
		}
		@media (max-width: 450px) {
			height: 50px;
		}
	}

	&__tel {
		height: 70px;
		border-radius: 6px;
		outline: 1px solid #E5E5E5;
		padding: 0 17px;
		flex: 0 1 calc(50% - 15px);
		&:focus{
			outline: 2px solid $orange;
		}
		@media (max-width: 767px) {
			flex: 0 1 100%;
			background-color: inherit;
			color: #fff;
		}
		@media (max-width: 450px) {
			height: 50px;
		}
	}

	&__button {
		flex: 0 1 calc(50% - 15px);
		height: 70px;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
		@media (max-width: 450px) {
			height: 50px;
		}
	}
	
	&__policy {
		flex: 0 1 calc(50% - 15px);
		font-size: 16px;
		line-height: 125%; /* 20/16 */
		color: #a5a5a5;
		a {
			color: $orange;
		}
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}
}
// popup ====================================================================================================//

.popup__content {
	background-color: #2E2E31;
	padding: 0;
	@media (min-width: 450px) {
		padding: 20px;
	}
}